/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/InviteToVideoCall/index.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
@media (min-width: 1020px) {
  .row--EU4vfVBl2ukvmtiCu3hZ {
    display: flex;
    justify-content: space-between;
  }
}
.row-time--wR7335h1NDb9ul0PP0RV {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1020px) {
  .column--eKhFCSstrpaWutLo4QRM,
  .column-time--S4RTrk8ePbiS0Y5Xglq9 {
    width: 48%;
    margin-top: 0;
  }
}
.column-time--S4RTrk8ePbiS0Y5Xglq9 {
  width: 48%;
  margin-top: 0;
}
.column--eKhFCSstrpaWutLo4QRM {
  margin-top: 16px;
}
@media (min-width: 1020px) {
  .column--eKhFCSstrpaWutLo4QRM {
    margin-top: 0;
  }
}
.column--eKhFCSstrpaWutLo4QRM:first-child {
  margin-top: 0;
}
.column--eKhFCSstrpaWutLo4QRM:last-child,
.column-time--S4RTrk8ePbiS0Y5Xglq9:last-child {
  padding: 0;
}
.calendar--FXyNc7ZJOUVmNvGm_gXO {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1020px) {
  .layout--VYQQx20qda3bdeOjjHPg {
    width: 600px;
  }
}
.disclaimer--AObvgzRdgEvLRlItZY2b {
  margin-top: 16px;
  padding: 20px;
  border-radius: 4px;
  background: #E7F2FF;
}
@media (min-width: 1020px) {
  .disclaimer--AObvgzRdgEvLRlItZY2b {
    margin-top: 25px;
  }
}
.disclaimer-list--IsmO3lz3ooT3i3Lw_wPj {
  margin-left: 18px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ResumeComplaint/ResumeComplaintForm/resume-complaint-form.less ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* stylelint-enable */
.complaint-reason-field-wrapper--BYDaQssXjFxpnVVbZfPv {
  margin-bottom: 16px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ResumeComments/comments.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.expand--GL6lyDYcEeUVLJzANUIf {
  display: inline-block;
  margin-left: 8px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/Employer/AssessmentResult/result.less ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.assessment-revoke--rAL7re2FHPbApZ1tcDmp:hover {
  cursor: pointer;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ResumePhoneDeepLinks/deepLinks.less ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
.deep-links--H33pzAxr6YQS40xSEtbk {
  display: inline-block;
}
.deep-link--VoZMDQz3ydTXaPAAeLPX {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  white-space: nowrap;
  cursor: pointer;
}
.deep-link_whatsapp--jxQgBFaT7LX7Az_Oxvds:hover {
  color: #83D99C;
}
.deep-link_viber--xtwoCn2yLN0HFchuo6Bk:hover {
  color: #6A2EB7;
}
.deep-link_telegram--rXtLKfZvmaoXOC30hMax:hover {
  color: #468FFD;
}


/*# sourceMappingURL=36263.b2bc54bee95d95f12d88.css.map*/