/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/OutdatedSkill/styles.less ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
.outdated--EHoM4h2ApFxLl9J_Z5eq {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 12px;
  gap: 12px;
  background-color: #FDF8E7;
}
.text--ois4CqpD_VBGZqCuftMg {
  width: 100%;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ApplicantSkillsVerificationMethodModal/styles.less ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tips--nmCLdKN01g_fFwggekvZ {
  max-width: 770px;
}


/*# sourceMappingURL=48022.d697972607234e0ff034.css.map*/