/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js!./.yarn/__virtual__/@hh.ru-magritte-ui-tooltip-virtual-ec07c37b4f/0/cache/@hh.ru-magritte-ui-tooltip-npm-4.0.13-2a21def5bb-98a7e5b1a7.zip/node_modules/@hh.ru/magritte-ui-tooltip/index.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root{
  --magritte-color-component-tooltip-background-content-v16-0-6:#000000;
  --magritte-color-component-tooltip-text-content-v16-0-6:#ffffff;
  --magritte-color-component-tooltip-stroke-content-v16-0-6:#3B3B3B;
}
:root{
  --magritte-semantic-animation-ease-in-out-200-timing-function-v16-0-6:cubic-bezier(0.25, 0.1, 0.25, 1);
  --magritte-semantic-animation-ease-in-out-200-duration-v16-0-6:200ms;
  --magritte-static-border-radius-400-v16-0-6:16px;
  --magritte-static-border-radius-600-v16-0-6:24px;
}
.magritte-night-theme{
  --magritte-color-component-tooltip-background-content-v16-0-6:#000000;
  --magritte-color-component-tooltip-text-content-v16-0-6:#ffffff;
  --magritte-color-component-tooltip-stroke-content-v16-0-6:#3B3B3B;
}
.magritte-tooltip___Hxyh2_4-0-13{
  position:relative;
  padding:16px;
  border-radius:var(--magritte-static-border-radius-400-v16-0-6);
  background:var(--magritte-color-component-tooltip-background-content-v16-0-6);
  border:1px solid var(--magritte-color-component-tooltip-stroke-content-v16-0-6);
  box-sizing:border-box;
  word-wrap:break-word;
  min-height:60px;
  --magritte-ui-text-color-override:var(--magritte-color-component-tooltip-text-content-v16-0-6);
  --magritte-ui-tooltip-arrow-fill:var(--magritte-color-component-tooltip-background-content-v16-0-6);
  --magritte-ui-tooltip-arrow-stroke:var(--magritte-color-component-tooltip-stroke-content-v16-0-6);
}
.magritte-tooltip-with-action___aYbOD_4-0-13{
  border-bottom-left-radius:var(--magritte-static-border-radius-600-v16-0-6);
  border-bottom-right-radius:var(--magritte-static-border-radius-600-v16-0-6);
}
.magritte-tooltip-title___s-ekd_4-0-13{
  margin-bottom:4px;
}
.magritte-tooltip-close___B1qWh_4-0-13{
  position:absolute;
  right:9px;
  top:9px;
}
.magritte-tooltip-with-close___2iNPt_4-0-13{
  padding-right:40px;
}
@media (prefers-reduced-motion: no-preference){
  .magritte-tooltip-enter-active___M8qsm_4-0-13 .magritte-tooltip___Hxyh2_4-0-13{
    opacity:0;
  }
  .magritte-tooltip-animation-timeout___eNz8f_4-0-13,
  .magritte-tooltip-enter-done___ceiob_4-0-13 .magritte-tooltip___Hxyh2_4-0-13{
    opacity:1;
    transition:all var(--magritte-semantic-animation-ease-in-out-200-duration-v16-0-6) var(--magritte-semantic-animation-ease-in-out-200-timing-function-v16-0-6);
    --animation-duration:var(--magritte-semantic-animation-ease-in-out-200-duration-v16-0-6);
  }
  .magritte-tooltip-exit-active___QllYr_4-0-13 .magritte-tooltip___Hxyh2_4-0-13{
    opacity:0;
    transition:all var(--magritte-semantic-animation-ease-in-out-200-duration-v16-0-6) var(--magritte-semantic-animation-ease-in-out-200-timing-function-v16-0-6);
    --animation-duration:var(--magritte-semantic-animation-ease-in-out-200-duration-v16-0-6);
  }
  .magritte-tooltip-exit-active___QllYr_4-0-13 .magritte-tooltip-direction-bottom___Z-QlF_4-0-13{
    transform:translateY(4px);
  }
  .magritte-tooltip-enter-active___M8qsm_4-0-13 .magritte-tooltip-direction-bottom___Z-QlF_4-0-13{
    transform:translateY(4px);
  }
  .magritte-tooltip-enter-done___ceiob_4-0-13 .magritte-tooltip-direction-bottom___Z-QlF_4-0-13{
    transform:translateY(0%);
  }
  .magritte-tooltip-exit-active___QllYr_4-0-13 .magritte-tooltip-direction-top___7D3L-_4-0-13{
    transform:translateY(-4px);
  }
  .magritte-tooltip-enter-active___M8qsm_4-0-13 .magritte-tooltip-direction-top___7D3L-_4-0-13{
    transform:translateY(-4px);
  }
  .magritte-tooltip-enter-done___ceiob_4-0-13 .magritte-tooltip-direction-top___7D3L-_4-0-13{
    transform:translateY(0%);
  }
  .magritte-tooltip-exit-active___QllYr_4-0-13 .magritte-tooltip-direction-left___-gcHH_4-0-13{
    transform:translateX(-4px);
  }
  .magritte-tooltip-enter-active___M8qsm_4-0-13 .magritte-tooltip-direction-left___-gcHH_4-0-13{
    transform:translateX(-4px);
  }
  .magritte-tooltip-enter-done___ceiob_4-0-13 .magritte-tooltip-direction-left___-gcHH_4-0-13{
    transform:translateX(0%);
  }
  .magritte-tooltip-exit-active___QllYr_4-0-13 .magritte-tooltip-direction-right___KgFDu_4-0-13{
    transform:translateX(4px);
  }
  .magritte-tooltip-enter-active___M8qsm_4-0-13 .magritte-tooltip-direction-right___KgFDu_4-0-13{
    transform:translateX(4px);
  }
  .magritte-tooltip-enter-done___ceiob_4-0-13 .magritte-tooltip-direction-right___KgFDu_4-0-13{
    transform:translateX(0%);
  }
}
.magritte-tooltip-actions___gN8ad_4-0-13{
  display:flex;
  gap:12px;
  margin-top:16px;
  flex-flow:wrap;
}
.magritte-tooltip-arrow___7OOYT_4-0-13{
  position:absolute;
}
.magritte-tooltip-direction-bottom___Z-QlF_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  top:-12px;
}
.magritte-tooltip-direction-top___7D3L-_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  bottom:-12px;
  transform:rotate(180deg);
}
.magritte-tooltip-alignment-left___BQPgG_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  left:15px;
}
.magritte-tooltip-alignment-left___BQPgG_4-0-13.magritte-tooltip-direction-top___7D3L-_4-0-13.magritte-tooltip-with-action___aYbOD_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  left:calc(var(--magritte-static-border-radius-600-v16-0-6) - 12px/2 + 28px/2);
}
.magritte-tooltip-direction-top___7D3L-_4-0-13.magritte-tooltip-alignment-center___FuX8d_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13,
.magritte-tooltip-direction-bottom___Z-QlF_4-0-13.magritte-tooltip-alignment-center___FuX8d_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  left:calc(50% - 28px/2);
}
.magritte-tooltip-alignment-right___bzmhg_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  right:15px;
}
.magritte-tooltip-alignment-right___bzmhg_4-0-13.magritte-tooltip-direction-top___7D3L-_4-0-13.magritte-tooltip-with-action___aYbOD_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  right:calc(var(--magritte-static-border-radius-600-v16-0-6) - 12px/2 + 28px/2);
}
.magritte-tooltip-direction-left___-gcHH_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  right:-20px;
  transform:rotate(90deg);
}
.magritte-tooltip-direction-right___KgFDu_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  left:-20px;
  transform:rotate(-90deg);
}
.magritte-tooltip-alignment-top___qLAji_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  top:24px;
}
.magritte-tooltip-direction-left___-gcHH_4-0-13.magritte-tooltip-alignment-center___FuX8d_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13,
.magritte-tooltip-direction-right___KgFDu_4-0-13.magritte-tooltip-alignment-center___FuX8d_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  top:calc(50% - 12px/2);
}
.magritte-tooltip-alignment-bottom___v2JlH_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  bottom:24px;
}
.magritte-tooltip-alignment-bottom___v2JlH_4-0-13.magritte-tooltip-with-action___aYbOD_4-0-13 .magritte-tooltip-arrow___7OOYT_4-0-13{
  bottom:calc(var(--magritte-static-border-radius-600-v16-0-6) - 12px/2 + 28px/2);
}


/*# sourceMappingURL=49419.e9ed4e2bbc24cbb2df18.css.map*/