/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js!./.yarn/__virtual__/@hh.ru-magritte-ui-input-virtual-a38ebd532c/0/cache/@hh.ru-magritte-ui-input-npm-3.0.0-35193cd260-86e8402953.zip/node_modules/@hh.ru/magritte-ui-input/index.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root{
  --magritte-color-text-primary-v16-0-6:#000000;
  --magritte-color-component-input-stroke-state-field-hovered-v16-0-6:#CCD5DF;
  --magritte-color-component-input-stroke-state-field-focused-v16-0-6:#0070ff;
  --magritte-color-component-input-stroke-state-accent-focused-accessible-v16-0-6:#0070ff7a;
  --magritte-color-component-input-stroke-state-field-invalid-v16-0-6:#ff4d3a;
  --magritte-color-component-input-stroke-state-field-disabled-v16-0-6:#DCE3EB;
  --magritte-color-component-input-background-field-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-hovered-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-focused-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-invalid-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-disabled-v16-0-6:#DCE3EB;
  --magritte-color-component-input-stroke-field-v16-0-6:#DCE3EB;
  --magritte-color-component-input-text-state-content-disabled-v16-0-6:#8293a2;
  --magritte-color-component-input-text-state-label-disabled-v16-0-6:#96aabb;
  --magritte-color-component-input-text-state-placeholder-disabled-v16-0-6:#AABBCA;
  --magritte-color-component-input-text-state-content-hovered-v16-0-6:#000000;
  --magritte-color-component-input-text-state-content-focused-v16-0-6:#000000;
  --magritte-color-component-input-text-state-content-invalid-v16-0-6:#000000;
  --magritte-color-component-input-text-state-label-hovered-v16-0-6:#768694;
  --magritte-color-component-input-text-state-label-focused-v16-0-6:#468ffd;
  --magritte-color-component-input-text-state-label-invalid-v16-0-6:#ff8a77;
  --magritte-color-component-input-text-state-placeholder-hovered-v16-0-6:#768694;
  --magritte-color-component-input-text-state-placeholder-focused-v16-0-6:#768694;
  --magritte-color-component-input-text-state-placeholder-invalid-v16-0-6:#768694;
  --magritte-color-component-input-counter-background-content-v16-0-6:#EEF1F7;
  --magritte-color-component-input-counter-background-state-content-disabled-v16-0-6:#CCD5DF;
  --magritte-color-component-input-counter-text-state-content-disabled-v16-0-6:#96aabb;
  --magritte-color-component-input-counter-text-content-v16-0-6:#8293a2;
  --magritte-color-component-input-icon-content-v16-0-6:#6a7885;
  --magritte-color-component-input-icon-state-content-hovered-v16-0-6:#6a7885;
  --magritte-color-component-input-icon-state-content-focused-v16-0-6:#000000;
  --magritte-color-component-input-icon-state-content-invalid-v16-0-6:#6a7885;
  --magritte-color-component-input-icon-state-content-disabled-v16-0-6:#8293a2;
  --magritte-color-component-input-text-content-v16-0-6:#000000;
  --magritte-color-component-input-text-label-v16-0-6:#768694;
  --magritte-color-component-input-text-placeholder-v16-0-6:#AABBCA;
}
:root{
  --magritte-typography-label-2-regular-font-family-v16-0-6:"Inter";
  --magritte-typography-label-2-regular-font-weight-v16-0-6:400;
  --magritte-typography-label-2-regular-line-height-v16-0-6:22px;
  --magritte-typography-label-2-regular-font-size-v16-0-6:16px;
  --magritte-typography-label-2-regular-letter-spacing-v16-0-6:0em;
  --magritte-typography-label-2-regular-text-indent-v16-0-6:0px;
  --magritte-typography-label-2-regular-text-transform-v16-0-6:none;
  --magritte-typography-label-2-regular-text-decoration-v16-0-6:none;
  --magritte-typography-label-4-regular-font-family-v16-0-6:"Inter";
  --magritte-typography-label-4-regular-font-weight-v16-0-6:400;
  --magritte-typography-label-4-regular-line-height-v16-0-6:18px;
  --magritte-typography-label-4-regular-font-size-v16-0-6:12px;
  --magritte-typography-label-4-regular-letter-spacing-v16-0-6:0.01em;
  --magritte-typography-label-4-regular-text-indent-v16-0-6:0px;
  --magritte-typography-label-4-regular-text-transform-v16-0-6:none;
  --magritte-typography-label-4-regular-text-decoration-v16-0-6:none;
  --magritte-semantic-animation-ease-in-out-100-timing-function-v16-0-6:cubic-bezier(0.25, 0.1, 0.25, 1);
  --magritte-semantic-animation-ease-in-out-100-duration-v16-0-6:100ms;
  --magritte-semantic-animation-ease-in-out-200-duration-v16-0-6:200ms;
}
.magritte-night-theme{
  --magritte-color-text-primary-v16-0-6:#ffffff;
  --magritte-color-component-input-stroke-state-field-hovered-v16-0-6:#3B3B3B;
  --magritte-color-component-input-stroke-state-field-focused-v16-0-6:#0070ff;
  --magritte-color-component-input-stroke-state-accent-focused-accessible-v16-0-6:#0070ff7a;
  --magritte-color-component-input-stroke-state-field-invalid-v16-0-6:#ff4d3a;
  --magritte-color-component-input-stroke-state-field-disabled-v16-0-6:#303030;
  --magritte-color-component-input-background-field-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-hovered-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-focused-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-invalid-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-disabled-v16-0-6:#303030;
  --magritte-color-component-input-stroke-field-v16-0-6:#303030;
  --magritte-color-component-input-text-content-v16-0-6:#ffffff;
  --magritte-color-component-input-text-label-v16-0-6:#919191;
  --magritte-color-component-input-text-placeholder-v16-0-6:#535353;
  --magritte-color-component-input-text-state-content-disabled-v16-0-6:#5E5E5E;
  --magritte-color-component-input-text-state-label-disabled-v16-0-6:#535353;
  --magritte-color-component-input-text-state-placeholder-disabled-v16-0-6:#474747;
  --magritte-color-component-input-text-state-content-hovered-v16-0-6:#ffffff;
  --magritte-color-component-input-text-state-content-focused-v16-0-6:#ffffff;
  --magritte-color-component-input-text-state-content-invalid-v16-0-6:#ffffff;
  --magritte-color-component-input-text-state-label-hovered-v16-0-6:#919191;
  --magritte-color-component-input-text-state-label-focused-v16-0-6:#5e9eff;
  --magritte-color-component-input-text-state-label-invalid-v16-0-6:#fe725f;
  --magritte-color-component-input-text-state-placeholder-hovered-v16-0-6:#5E5E5E;
  --magritte-color-component-input-text-state-placeholder-focused-v16-0-6:#535353;
  --magritte-color-component-input-text-state-placeholder-invalid-v16-0-6:#535353;
  --magritte-color-component-input-counter-background-content-v16-0-6:#EEF1F7;
  --magritte-color-component-input-counter-background-state-content-disabled-v16-0-6:#CCD5DF;
  --magritte-color-component-input-counter-text-state-content-disabled-v16-0-6:#96aabb;
  --magritte-color-component-input-counter-text-content-v16-0-6:#6a7885;
  --magritte-color-component-input-icon-state-content-hovered-v16-0-6:#6a7885;
  --magritte-color-component-input-icon-state-content-focused-v16-0-6:#ffffff;
  --magritte-color-component-input-icon-state-content-invalid-v16-0-6:#6a7885;
  --magritte-color-component-input-icon-state-content-disabled-v16-0-6:#8293a2;
  --magritte-color-component-input-icon-content-v16-0-6:#6a7885;
}
.magritte-input___LVTID_3-0-0{
  display:inline-block;
  width:100%;
  --animation-100-duration:var(--magritte-semantic-animation-ease-in-out-100-duration-v16-0-6);
  --animation-200-duration:var(--magritte-semantic-animation-ease-in-out-200-duration-v16-0-6);
}
.magritte-input___LVTID_3-0-0:has(input:autofill) .magritte-input__label___SNkJL_3-0-0{
  display:none;
}
.magritte-input___LVTID_3-0-0.magritte-input_elevated___PDypm_3-0-0:has(input:autofill) .magritte-input__label___SNkJL_3-0-0{
  display:block;
  transform:translateY(calc(0px - ((var(--magritte-typography-label-4-regular-line-height-v16-0-6) + var(--magritte-typography-label-2-regular-line-height-v16-0-6)) / 2) + (var(--magritte-typography-label-4-regular-line-height-v16-0-6) / 2)));
  transition-duration:0ms;
  color:var(--magritte-color-component-input-text-label-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_elevated___PDypm_3-0-0:has(input:autofill) .magritte-input__label___SNkJL_3-0-0 > *{
  font-family:var(--magritte-typography-label-4-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-4-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-4-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-4-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-4-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-4-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-4-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-4-regular-text-decoration-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_with-right___RROcx_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  padding-right:48px;
}
.magritte-input___LVTID_3-0-0.magritte-input_with-right___RROcx_3-0-0 .magritte-input__rigging-container___LmFaw_3-0-0{
  right:48px;
}
.magritte-input___LVTID_3-0-0.magritte-input_with-icon___4I--s_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  padding-left:48px;
}
.magritte-input___LVTID_3-0-0.magritte-input_with-icon___4I--s_3-0-0 .magritte-input__rigging-container___LmFaw_3-0-0{
  left:48px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0:not(.magritte-input_elevated___PDypm_3-0-0) .magritte-input__input-field___SbGzz_3-0-0{
  padding:16px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0:not(.magritte-input_elevated___PDypm_3-0-0) .magritte-input__rigging-container___LmFaw_3-0-0{
  left:16px;
  right:16px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0:not(.magritte-input_elevated___PDypm_3-0-0) .magritte-input__mask___CHda2_3-0-0{
  bottom:16px;
}
.magritte-input___LVTID_3-0-0.magritte-input_elevated___PDypm_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  min-height:22px;
  padding:calc(var(--magritte-typography-label-4-regular-line-height-v16-0-6) + 8px) 16px 8px;
}
.magritte-input___LVTID_3-0-0.magritte-input_elevated___PDypm_3-0-0 .magritte-input__rigging-container___LmFaw_3-0-0{
  left:16px;
  right:16px;
}
.magritte-input___LVTID_3-0-0.magritte-input_elevated___PDypm_3-0-0 .magritte-input__mask___CHda2_3-0-0{
  min-height:22px;
  bottom:8px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0.magritte-input_with-right___RROcx_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  padding-right:52px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0.magritte-input_with-right___RROcx_3-0-0 .magritte-input__right-container___dmYsO_3-0-0{
  width:52px;
  padding:0 8px 0 4px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0.magritte-input_with-right___RROcx_3-0-0 .magritte-input__rigging-container___LmFaw_3-0-0{
  right:52px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0.magritte-input_with-icon___4I--s_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  padding-left:52px;
}
.magritte-input___LVTID_3-0-0.magritte-input_large___ae3F-_3-0-0.magritte-input_with-icon___4I--s_3-0-0 .magritte-input__rigging-container___LmFaw_3-0-0{
  left:52px;
}
.magritte-input___LVTID_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  padding:12px 12px 12px 16px;
}
.magritte-input___LVTID_3-0-0 .magritte-input__rigging-container___LmFaw_3-0-0{
  pointer-events:none;
  left:16px;
  right:12px;
}
.magritte-input___LVTID_3-0-0 .magritte-input__mask___CHda2_3-0-0{
  display:flex;
  align-items:center;
  bottom:12px;
}
@media (min-width: 1020px){
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover{
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__input-field___SbGzz_3-0-0{
    color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    opacity:1;
  }
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__mask___CHda2_3-0-0{
    --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__label_elevated___G3T2E_3-0-0{
    color:var(--magritte-color-component-input-text-state-label-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__label___SNkJL_3-0-0:not(.magritte-input__label_elevated___G3T2E_3-0-0),
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__fixed-placeholder___3bCAG_3-0-0{
    color:var(--magritte-color-component-input-text-state-placeholder-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__icon-container___XIRTe_3-0-0{
    --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-state-content-hovered-v16-0-6);
  }
}
@media (min-width: 1024px){
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover{
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__input-field___SbGzz_3-0-0{
    color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    opacity:1;
  }
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__mask___CHda2_3-0-0{
    --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__label_elevated___G3T2E_3-0-0{
    color:var(--magritte-color-component-input-text-state-label-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__label___SNkJL_3-0-0:not(.magritte-input__label_elevated___G3T2E_3-0-0),
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__fixed-placeholder___3bCAG_3-0-0{
    color:var(--magritte-color-component-input-text-state-placeholder-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-input___LVTID_3-0-0:not(.magritte-input_focused___6lSsJ_3-0-0):not(.magritte-input_invalid___pI16c_3-0-0):not(.magritte-input_disabled___jZWFl_3-0-0) .magritte-input__position-container___ee0U0_3-0-0:hover .magritte-input__icon-container___XIRTe_3-0-0{
    --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-state-content-hovered-v16-0-6);
  }
}
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0{
  background-color:var(--magritte-color-component-input-background-state-field-focused-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  color:var(--magritte-color-component-input-text-state-content-focused-v16-0-6);
  box-shadow:inset 0 0 0 2px var(--magritte-color-component-input-stroke-state-field-focused-v16-0-6);
  -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-focused-v16-0-6);
  opacity:1;
}
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__mask___CHda2_3-0-0{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-content-focused-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__label_elevated___G3T2E_3-0-0{
  color:var(--magritte-color-component-input-text-state-label-focused-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__label___SNkJL_3-0-0:not(.magritte-input__label_elevated___G3T2E_3-0-0),
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__fixed-placeholder___3bCAG_3-0-0{
  color:var(--magritte-color-component-input-text-state-placeholder-focused-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_focused___6lSsJ_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__icon-container___XIRTe_3-0-0{
  --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-state-content-focused-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0{
  background-color:var(--magritte-color-component-input-background-state-field-invalid-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  color:var(--magritte-color-component-input-text-state-content-invalid-v16-0-6);
  box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-invalid-v16-0-6);
  -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-invalid-v16-0-6);
  opacity:1;
}
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__mask___CHda2_3-0-0{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-content-invalid-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__label_elevated___G3T2E_3-0-0{
  color:var(--magritte-color-component-input-text-state-label-invalid-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__label___SNkJL_3-0-0:not(.magritte-input__label_elevated___G3T2E_3-0-0),
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__fixed-placeholder___3bCAG_3-0-0{
  color:var(--magritte-color-component-input-text-state-placeholder-invalid-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_invalid___pI16c_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__icon-container___XIRTe_3-0-0{
  --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-state-content-invalid-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0{
  background-color:var(--magritte-color-component-input-background-state-field-disabled-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__input-field___SbGzz_3-0-0{
  color:var(--magritte-color-component-input-text-state-content-disabled-v16-0-6);
  box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-disabled-v16-0-6);
  -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-disabled-v16-0-6);
  opacity:1;
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__mask___CHda2_3-0-0{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-content-disabled-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__label_elevated___G3T2E_3-0-0{
  color:var(--magritte-color-component-input-text-state-label-disabled-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__label___SNkJL_3-0-0:not(.magritte-input__label_elevated___G3T2E_3-0-0),
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__fixed-placeholder___3bCAG_3-0-0{
  color:var(--magritte-color-component-input-text-state-placeholder-disabled-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__position-container___ee0U0_3-0-0 .magritte-input__icon-container___XIRTe_3-0-0{
  --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-state-content-disabled-v16-0-6);
}
.magritte-input___LVTID_3-0-0.magritte-input_disabled___jZWFl_3-0-0 .magritte-input__right-container___dmYsO_3-0-0{
  --magritte-counter-background-color:var(--magritte-color-component-input-counter-background-state-content-disabled-v16-0-6);
  --magritte-counter-label-color:var(--magritte-color-component-input-counter-text-state-content-disabled-v16-0-6);
}
@media (prefers-reduced-motion){
  .magritte-input___LVTID_3-0-0{
    --animation-100-duration:1ms;
    --animation-200-duration:1ms;
  }
}
.magritte-input__position-container___ee0U0_3-0-0{
  display:flex;
  position:relative;
  border-radius:12px;
  background-color:var(--magritte-color-component-input-background-field-v16-0-6);
}
.magritte-input__right-container___dmYsO_3-0-0{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  display:flex;
  align-items:center;
  justify-content:center;
  box-sizing:border-box;
  width:48px;
  padding:0 4px;
  --magritte-counter-background-color:var(--magritte-color-component-input-counter-background-content-v16-0-6);
  --magritte-counter-label-color:var(--magritte-color-component-input-counter-text-content-v16-0-6);
}
.magritte-input__input-field___SbGzz_3-0-0{
  position:relative;
  background:none;
  appearance:none;
  border:0;
  border-radius:12px;
  text-overflow:ellipsis;
  box-sizing:content-box;
  min-height:24px;
  width:100%;
  color:var(--magritte-color-component-input-text-content-v16-0-6);
  caret-color:var(--magritte-ui-input-caret-color-override, var(--magritte-color-text-primary-v16-0-6));
  box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-field-v16-0-6);
  font-family:var(--magritte-typography-label-2-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-2-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-2-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-2-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-2-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-2-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-2-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-2-regular-text-decoration-v16-0-6);
}
.magritte-input__input-field___SbGzz_3-0-0:focus{
  outline:none;
}
.magritte-input__input-field___SbGzz_3-0-0:focus:not(.focus-visible){
  outline:none;
}
.magritte-input__input-field___SbGzz_3-0-0.focus-visible{
  outline:var(--magritte-color-component-input-stroke-state-accent-focused-accessible-v16-0-6) solid 4px;
}
.magritte-input__icon-container___XIRTe_3-0-0{
  display:flex;
  align-items:center;
  position:absolute;
  height:100%;
  left:12px;
  right:12px;
  pointer-events:none;
  --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-content-v16-0-6);
}
.magritte-input__icon-container_large___uLy6-_3-0-0{
  left:16px;
  right:16px;
}
.magritte-input__rigging-container___LmFaw_3-0-0{
  display:flex;
  align-items:center;
  position:absolute;
  height:100%;
}
.magritte-input__label___SNkJL_3-0-0,
.magritte-input__fixed-placeholder___3bCAG_3-0-0{
  font-family:var(--magritte-typography-label-2-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-2-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-2-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-2-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-2-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-2-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-2-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-2-regular-text-decoration-v16-0-6);
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  user-select:none;
  transition-property:color;
  transition-duration:var(--animation-100-duration);
  transition-timing-function:var(--magritte-semantic-animation-ease-in-out-100-timing-function-v16-0-6);
  color:var(--magritte-color-component-input-text-placeholder-v16-0-6);
}
.magritte-input__label___SNkJL_3-0-0{
  display:block;
  transition-property:transform, color, font-size, letter-spacing;
}
.magritte-input__label_elevated___G3T2E_3-0-0{
  font-family:var(--magritte-typography-label-4-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-4-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-4-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-4-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-4-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-4-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-4-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-4-regular-text-decoration-v16-0-6);
  color:var(--magritte-color-component-input-text-label-v16-0-6);
  transform:translateY(calc(0px - ((var(--magritte-typography-label-4-regular-line-height-v16-0-6) + var(--magritte-typography-label-2-regular-line-height-v16-0-6)) / 2) + (var(--magritte-typography-label-4-regular-line-height-v16-0-6) / 2)));
}
.magritte-input__mask___CHda2_3-0-0{
  position:absolute;
  width:100%;
  pointer-events:none;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  min-height:24px;
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-content-v16-0-6);
}
.magritte-input__value-ghost___vrEHw_3-0-0{
  visibility:hidden;
  white-space:pre;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js!./.yarn/__virtual__/@hh.ru-magritte-internal-field-hint-virtual-cda768f453/0/cache/@hh.ru-magritte-internal-field-hint-npm-1.2.15-e89e85a741-085bc435a9.zip/node_modules/@hh.ru/magritte-internal-field-hint/index.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root{
  --magritte-color-component-input-text-state-description-disabled-v16-0-6:#768694;
  --magritte-color-component-input-text-state-description-focused-v16-0-6:#768694;
  --magritte-color-component-input-text-state-description-invalid-v16-0-6:#ff4d3a;
  --magritte-color-component-input-text-description-v16-0-6:#768694;
}
:root{
  --magritte-semantic-animation-ease-in-out-300-timing-function-v16-0-6:cubic-bezier(0.25, 0.1, 0.25, 1);
  --magritte-semantic-animation-ease-in-out-300-duration-v16-0-6:300ms;
}
.magritte-night-theme{
  --magritte-color-component-input-text-description-v16-0-6:#6A6A6A;
  --magritte-color-component-input-text-state-description-disabled-v16-0-6:#6A6A6A;
  --magritte-color-component-input-text-state-description-focused-v16-0-6:#535353;
  --magritte-color-component-input-text-state-description-invalid-v16-0-6:#ff4d3a;
}
.magritte-container___7xqiv_1-2-15{
  position:relative;
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-description-v16-0-6);
  height:0;
  overflow:hidden;
  --animation-hint-duration:var(--magritte-semantic-animation-ease-in-out-300-duration-v16-0-6);
}
.magritte-container___7xqiv_1-2-15.magritte-focused___CY5Uv_1-2-15{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-description-focused-v16-0-6);
}
.magritte-container___7xqiv_1-2-15.magritte-invalid___38O12_1-2-15{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-description-v16-0-6);
}
.magritte-container___7xqiv_1-2-15.magritte-disabled___97D1v_1-2-15{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-description-disabled-v16-0-6);
}
@media (prefers-reduced-motion){
  .magritte-container___7xqiv_1-2-15{
    --animation-hint-duration:1ms;
  }
}
.magritte-container_animated___Z0HEz_1-2-15{
  transition-property:height;
  transition-duration:var(--animation-hint-duration);
  transition-timing-function:var(--magritte-semantic-animation-ease-in-out-300-timing-function-v16-0-6);
}
.magritte-hint___7O-DH_1-2-15{
  position:absolute;
  top:0;
  width:100%;
  padding-top:8px;
  opacity:0;
  pointer-events:none;
  user-select:none;
}
.magritte-hint___7O-DH_1-2-15.magritte-hint-error___wm8Ga_1-2-15{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-description-invalid-v16-0-6);
}
.magritte-hint_visible___o32--_1-2-15{
  pointer-events:auto;
  user-select:auto;
  opacity:1;
}
.magritte-hint_animated___1hqHM_1-2-15{
  transition-property:opacity;
  transition-duration:var(--animation-hint-duration);
  transition-timing-function:var(--magritte-semantic-animation-ease-in-out-300-timing-function-v16-0-6);
}


/*# sourceMappingURL=96089.056e6f8b481af20b2eba.css.map*/