/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ResumeView/resume-chat-pinned-messages.less ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
/* stylelint-disable value-keyword-case */
/* stylelint-enable */
.pinned-messages--MJfysYeiLelPoh756r2j {
  border-left: 2px solid #0070FF;
  padding-left: 16px;
  max-width: 420px;
  white-space: pre-wrap;
}
.clipped-message--TUnHysQzgxcvCzDFxQaV {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 60.06px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/WebcallButton/webcallButton.less ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.webcall-wrapper--oqvUqSIOQlOBYPbNbGvg {
  position: absolute;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ResumeVideoLink/styles.less ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.container-only-text--fdNHRot_rlmbLLFpBe9E {
  display: flex;
  align-items: center;
  max-width: 150px;
  text-align: center;
}
.container-with-icon--wZSUolQSZFyZh3TOlZAi {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
.play-icon--Wd9ouzkPOkOXqJ3TOFKP {
  background: url(0dad29a724c4835f2110.svg);
  width: 20px;
  height: 20px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/pages/ResumeView/components/ResumeHeader/index.less ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.container--NGnSYzqO5lp8VLe5gFzs {
  display: flex;
  text-align: left;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ApplicantRsvVerification/ApplicantRsvVerificationCard/styles.less ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
.applicant-rsv-verification-card--xy9l6qSwkpBRfCMqmO0S {
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(42, 49, 55, 0.1);
  padding: 20px;
  position: relative;
}
@media print {
  .hide-print--RaoNkbggzgKmoWqReFxj {
    display: none;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/pages/ResumeView/components/View/ResumeSkillLevels/index.less ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
.level-title--N0VO848_djfEW5Fq66mH {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 5px;
}
.level-tip--laDIcnNjW0ul6gmvggYc {
  display: flex;
  padding: 16px;
  background-color: #F4F6FB;
}
.modal-items--km1nbBmcyPgjKNwjgqpx {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-item--CZW7_fXbasd0FxXor0Vu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #CCD5DF;
}
.modal-list--xb4t2h4bzMFCBa8GmX49 {
  list-style: inside;
  padding-left: 8px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[7].use[1]!./.yarn/__virtual__/postcss-loader-virtual-9ca6ee1701/0/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip/node_modules/postcss-loader/dist/cjs.js!./.yarn/__virtual__/less-loader-virtual-4121f44b2b/0/cache/less-loader-npm-10.2.0-9c6619a5c0-42a2b56a9d.zip/node_modules/less-loader/dist/cjs.js!./webapp-static/lux/components/ResumeContacts/BuyContacts/styles.less ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* Design System colors */
/* Red */
/* Yellow */
/* Orange */
/* Blue */
/* Violet */
/* Green */
/* Grayscale */
/* Special */
/* stylelint-disable hhru/less-variable-value-disallowed-list */
/* stylelint-enable */
.control-wrapper--lYxaOubzIG7jaNjbn4I1 {
  display: inline-block;
}


/*# sourceMappingURL=45089.4e847ee2774d9e3098d7.css.map*/