/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/css-loader-virtual-f4ce20568a/0/cache/css-loader-npm-6.5.1-a34b2a752f-5a3bedecb4.zip/node_modules/css-loader/dist/cjs.js!./.yarn/__virtual__/@hh.ru-magritte-ui-textarea-virtual-0b7a742f19/0/cache/@hh.ru-magritte-ui-textarea-npm-1.7.24-8c56cac624-dc2d783424.zip/node_modules/@hh.ru/magritte-ui-textarea/index.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root{
  --magritte-color-text-primary-v16-0-6:#000000;
  --magritte-color-component-input-stroke-state-field-hovered-v16-0-6:#CCD5DF;
  --magritte-color-component-input-stroke-state-field-focused-v16-0-6:#0070ff;
  --magritte-color-component-input-stroke-state-accent-focused-accessible-v16-0-6:#0070ff7a;
  --magritte-color-component-input-stroke-state-field-invalid-v16-0-6:#ff4d3a;
  --magritte-color-component-input-stroke-state-field-disabled-v16-0-6:#DCE3EB;
  --magritte-color-component-input-background-field-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-hovered-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-focused-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-invalid-v16-0-6:#ffffff;
  --magritte-color-component-input-background-state-field-disabled-v16-0-6:#DCE3EB;
  --magritte-color-component-input-stroke-field-v16-0-6:#DCE3EB;
  --magritte-color-component-input-text-state-content-disabled-v16-0-6:#8293a2;
  --magritte-color-component-input-text-state-label-disabled-v16-0-6:#96aabb;
  --magritte-color-component-input-text-state-placeholder-disabled-v16-0-6:#AABBCA;
  --magritte-color-component-input-text-state-limit-disabled-v16-0-6:#AABBCA;
  --magritte-color-component-input-text-state-content-hovered-v16-0-6:#000000;
  --magritte-color-component-input-text-state-content-focused-v16-0-6:#000000;
  --magritte-color-component-input-text-state-content-invalid-v16-0-6:#000000;
  --magritte-color-component-input-text-state-label-hovered-v16-0-6:#768694;
  --magritte-color-component-input-text-state-label-focused-v16-0-6:#468ffd;
  --magritte-color-component-input-text-state-label-invalid-v16-0-6:#ff8a77;
  --magritte-color-component-input-text-state-placeholder-hovered-v16-0-6:#768694;
  --magritte-color-component-input-text-state-limit-hovered-v16-0-6:#768694;
  --magritte-color-component-input-text-state-placeholder-focused-v16-0-6:#768694;
  --magritte-color-component-input-text-state-limit-focused-v16-0-6:#768694;
  --magritte-color-component-input-text-state-placeholder-invalid-v16-0-6:#768694;
  --magritte-color-component-input-text-state-limit-invalid-v16-0-6:#ff8a77;
  --magritte-color-component-input-icon-grip-v16-0-6:#AABBCA;
  --magritte-color-component-input-text-content-v16-0-6:#000000;
  --magritte-color-component-input-text-label-v16-0-6:#768694;
  --magritte-color-component-input-text-placeholder-v16-0-6:#AABBCA;
  --magritte-color-component-input-text-limit-v16-0-6:#AABBCA;
}
:root{
  --magritte-typography-label-2-regular-font-family-v16-0-6:"Inter";
  --magritte-typography-label-2-regular-font-weight-v16-0-6:400;
  --magritte-typography-label-2-regular-line-height-v16-0-6:22px;
  --magritte-typography-label-2-regular-font-size-v16-0-6:16px;
  --magritte-typography-label-2-regular-letter-spacing-v16-0-6:0em;
  --magritte-typography-label-2-regular-text-indent-v16-0-6:0px;
  --magritte-typography-label-2-regular-text-transform-v16-0-6:none;
  --magritte-typography-label-2-regular-text-decoration-v16-0-6:none;
  --magritte-typography-label-4-regular-font-family-v16-0-6:"Inter";
  --magritte-typography-label-4-regular-font-weight-v16-0-6:400;
  --magritte-typography-label-4-regular-line-height-v16-0-6:18px;
  --magritte-typography-label-4-regular-font-size-v16-0-6:12px;
  --magritte-typography-label-4-regular-letter-spacing-v16-0-6:0.01em;
  --magritte-typography-label-4-regular-text-indent-v16-0-6:0px;
  --magritte-typography-label-4-regular-text-transform-v16-0-6:none;
  --magritte-typography-label-4-regular-text-decoration-v16-0-6:none;
  --magritte-semantic-animation-ease-in-out-100-timing-function-v16-0-6:cubic-bezier(0.25, 0.1, 0.25, 1);
  --magritte-semantic-animation-ease-in-out-100-duration-v16-0-6:100ms;
  --magritte-semantic-animation-ease-in-out-200-timing-function-v16-0-6:cubic-bezier(0.25, 0.1, 0.25, 1);
  --magritte-semantic-animation-ease-in-out-300-duration-v16-0-6:300ms;
}
.magritte-night-theme{
  --magritte-color-text-primary-v16-0-6:#ffffff;
  --magritte-color-component-input-stroke-state-field-hovered-v16-0-6:#3B3B3B;
  --magritte-color-component-input-stroke-state-field-focused-v16-0-6:#0070ff;
  --magritte-color-component-input-stroke-state-accent-focused-accessible-v16-0-6:#0070ff7a;
  --magritte-color-component-input-stroke-state-field-invalid-v16-0-6:#ff4d3a;
  --magritte-color-component-input-stroke-state-field-disabled-v16-0-6:#303030;
  --magritte-color-component-input-background-field-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-hovered-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-focused-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-invalid-v16-0-6:#1B1B1B;
  --magritte-color-component-input-background-state-field-disabled-v16-0-6:#303030;
  --magritte-color-component-input-stroke-field-v16-0-6:#303030;
  --magritte-color-component-input-text-content-v16-0-6:#ffffff;
  --magritte-color-component-input-text-label-v16-0-6:#919191;
  --magritte-color-component-input-text-placeholder-v16-0-6:#535353;
  --magritte-color-component-input-text-limit-v16-0-6:#535353;
  --magritte-color-component-input-text-state-content-disabled-v16-0-6:#5E5E5E;
  --magritte-color-component-input-text-state-label-disabled-v16-0-6:#535353;
  --magritte-color-component-input-text-state-placeholder-disabled-v16-0-6:#474747;
  --magritte-color-component-input-text-state-limit-disabled-v16-0-6:#474747;
  --magritte-color-component-input-text-state-content-hovered-v16-0-6:#ffffff;
  --magritte-color-component-input-text-state-content-focused-v16-0-6:#ffffff;
  --magritte-color-component-input-text-state-content-invalid-v16-0-6:#ffffff;
  --magritte-color-component-input-text-state-label-hovered-v16-0-6:#919191;
  --magritte-color-component-input-text-state-label-focused-v16-0-6:#5e9eff;
  --magritte-color-component-input-text-state-label-invalid-v16-0-6:#fe725f;
  --magritte-color-component-input-text-state-placeholder-hovered-v16-0-6:#5E5E5E;
  --magritte-color-component-input-text-state-limit-hovered-v16-0-6:#535353;
  --magritte-color-component-input-text-state-placeholder-focused-v16-0-6:#535353;
  --magritte-color-component-input-text-state-limit-focused-v16-0-6:#535353;
  --magritte-color-component-input-text-state-placeholder-invalid-v16-0-6:#535353;
  --magritte-color-component-input-text-state-limit-invalid-v16-0-6:#fe725f;
  --magritte-color-component-input-icon-grip-v16-0-6:#535353;
}
.magritte-textarea___ugvor_1-7-24{
  display:inline-flex;
  flex-flow:column;
  --animation-100-duration:var(--magritte-semantic-animation-ease-in-out-100-duration-v16-0-6);
  --animation-300-duration:var(--magritte-semantic-animation-ease-in-out-300-duration-v16-0-6);
}
@media (min-width: 1020px){
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover::after{
    border-bottom-color:var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    border-right-color:var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    border-width:1px;
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-position-container___cEpbv_1-7-24{
    box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-native___w-czf_1-7-24{
    color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    opacity:1;
  }
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-label___sgTIH_1-7-24{
    color:var(--magritte-color-component-input-text-state-placeholder-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-elevated___S0jk-_1-7-24 .magritte-textarea-label-elevated___0lxOI_1-7-24{
    color:var(--magritte-color-component-input-text-state-label-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-limit___IjPJy_1-7-24{
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body.magritte-old-layout .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-limit___IjPJy_1-7-24{
    --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-limit-hovered-v16-0-6);
  }
}
@media (min-width: 1024px){
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover::after{
    border-bottom-color:var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    border-right-color:var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    border-width:1px;
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-position-container___cEpbv_1-7-24{
    box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-hovered-v16-0-6);
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-native___w-czf_1-7-24{
    color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-hovered-v16-0-6);
    opacity:1;
  }
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-label___sgTIH_1-7-24{
    color:var(--magritte-color-component-input-text-state-placeholder-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-elevated___S0jk-_1-7-24 .magritte-textarea-label-elevated___0lxOI_1-7-24{
    color:var(--magritte-color-component-input-text-state-label-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-limit___IjPJy_1-7-24{
    background-color:var(--magritte-color-component-input-background-state-field-hovered-v16-0-6);
  }
  body:not(.magritte-old-layout) .magritte-textarea___ugvor_1-7-24:not(.magritte-textarea-focused___eiGyC_1-7-24):not(.magritte-textarea-invalid___iKOPh_1-7-24):not(.magritte-textarea-disabled___XN0cg_1-7-24) .magritte-textarea-position-container-wrapper___4Dsui_1-7-24:hover .magritte-textarea-limit___IjPJy_1-7-24{
    --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-limit-hovered-v16-0-6);
  }
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24::after{
  border-bottom-color:var(--magritte-color-component-input-stroke-state-field-focused-v16-0-6);
  border-right-color:var(--magritte-color-component-input-stroke-state-field-focused-v16-0-6);
  border-width:2px;
  background-color:var(--magritte-color-component-input-background-state-field-focused-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-position-container___cEpbv_1-7-24{
  box-shadow:inset 0 0 0 2px var(--magritte-color-component-input-stroke-state-field-focused-v16-0-6);
  background-color:var(--magritte-color-component-input-background-state-field-focused-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  color:var(--magritte-color-component-input-text-state-content-focused-v16-0-6);
  -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-focused-v16-0-6);
  opacity:1;
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-label___sgTIH_1-7-24{
  color:var(--magritte-color-component-input-text-state-placeholder-focused-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-elevated___S0jk-_1-7-24 .magritte-textarea-label-elevated___0lxOI_1-7-24{
  color:var(--magritte-color-component-input-text-state-label-focused-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  background-color:var(--magritte-color-component-input-background-state-field-focused-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-limit-focused-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24.magritte-textarea-limit-error___vLvZU_1-7-24{
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-focused___eiGyC_1-7-24.magritte-textarea-limit-error___vLvZU_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-limit-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-invalid___iKOPh_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24::after{
  border-bottom-color:var(--magritte-color-component-input-stroke-state-field-invalid-v16-0-6);
  border-right-color:var(--magritte-color-component-input-stroke-state-field-invalid-v16-0-6);
  border-width:1px;
  background-color:var(--magritte-color-component-input-background-state-field-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-invalid___iKOPh_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-position-container___cEpbv_1-7-24{
  box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-invalid-v16-0-6);
  background-color:var(--magritte-color-component-input-background-state-field-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-invalid___iKOPh_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  color:var(--magritte-color-component-input-text-state-content-invalid-v16-0-6);
  -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-invalid-v16-0-6);
  opacity:1;
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-invalid___iKOPh_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-label___sgTIH_1-7-24{
  color:var(--magritte-color-component-input-text-state-placeholder-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-invalid___iKOPh_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-elevated___S0jk-_1-7-24 .magritte-textarea-label-elevated___0lxOI_1-7-24{
  color:var(--magritte-color-component-input-text-state-label-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-invalid___iKOPh_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  background-color:var(--magritte-color-component-input-background-state-field-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-limit-error___vLvZU_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-limit-invalid-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24::after{
  border-bottom-color:var(--magritte-color-component-input-stroke-state-field-disabled-v16-0-6);
  border-right-color:var(--magritte-color-component-input-stroke-state-field-disabled-v16-0-6);
  border-width:1px;
  background-color:var(--magritte-color-component-input-background-state-field-disabled-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-position-container___cEpbv_1-7-24{
  box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-state-field-disabled-v16-0-6);
  background-color:var(--magritte-color-component-input-background-state-field-disabled-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  color:var(--magritte-color-component-input-text-state-content-disabled-v16-0-6);
  -webkit-text-fill-color:var(--magritte-color-component-input-text-state-content-disabled-v16-0-6);
  opacity:1;
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-label___sgTIH_1-7-24{
  color:var(--magritte-color-component-input-text-state-placeholder-disabled-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-elevated___S0jk-_1-7-24 .magritte-textarea-label-elevated___0lxOI_1-7-24{
  color:var(--magritte-color-component-input-text-state-label-disabled-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  background-color:var(--magritte-color-component-input-background-state-field-disabled-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24 .magritte-textarea-limit___IjPJy_1-7-24{
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-state-limit-disabled-v16-0-6);
}
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-position-container___cEpbv_1-7-24,
.magritte-textarea___ugvor_1-7-24.magritte-textarea-disabled___XN0cg_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  cursor:not-allowed;
}
@media (prefers-reduced-motion){
  .magritte-textarea___ugvor_1-7-24{
    --animation-100-duration:1ms;
    --animation-300-duration:1ms;
  }
}
.magritte-textarea-position-container-wrapper___4Dsui_1-7-24{
  display:inline-flex;
  position:relative;
  overflow:hidden;
  width:100%;
  border-radius:12px;
}
.magritte-textarea-position-container-wrapper___4Dsui_1-7-24.focus-visible{
  outline:var(--magritte-color-component-input-stroke-state-accent-focused-accessible-v16-0-6) solid 4px;
}
.magritte-textarea-position-container-wrapper___4Dsui_1-7-24::after{
  display:block;
  pointer-events:none;
  user-select:none;
  position:absolute;
  content:'';
  width:16px;
  height:16px;
  background-color:var(--magritte-color-component-input-background-field-v16-0-6);
  bottom:0;
  right:0;
  border-bottom-right-radius:12px;
  border-bottom:1px solid var(--magritte-color-component-input-stroke-field-v16-0-6);
  border-right:1px solid var(--magritte-color-component-input-stroke-field-v16-0-6);
}
.magritte-textarea-native___w-czf_1-7-24{
  box-sizing:border-box;
  border:0;
  width:100%;
  padding:0 16px;
  padding-right:14px;
  color:var(--magritte-color-component-input-text-content-v16-0-6);
  caret-color:var(--magritte-color-text-primary-v16-0-6);
  font-family:var(--magritte-typography-label-2-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-2-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-2-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-2-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-2-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-2-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-2-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-2-regular-text-decoration-v16-0-6);
  min-height:calc(86px - var(--magritte-typography-label-4-regular-line-height-v16-0-6));
  position:relative;
  resize:none;
  background:none;
  appearance:none;
}
.magritte-textarea-native___w-czf_1-7-24:focus{
  outline:none;
}
.magritte-textarea-limited___cU1Rg_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  min-height:calc(72px - var(--magritte-typography-label-4-regular-line-height-v16-0-6));
}
.magritte-textarea-limited___cU1Rg_1-7-24 .magritte-textarea-position-container___cEpbv_1-7-24{
  padding-bottom:30px;
}
.magritte-textarea-layout-fill-both___ERS-q_1-7-24,
.magritte-textarea-layout-fill-vertical___HmNtp_1-7-24,
.magritte-textarea-layout-fill-horizontal___imBH2_1-7-24{
  flex-direction:column;
}
.magritte-textarea-layout-fill-both___ERS-q_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24,
.magritte-textarea-layout-fill-vertical___HmNtp_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24,
.magritte-textarea-layout-fill-horizontal___imBH2_1-7-24 .magritte-textarea-position-container-wrapper___4Dsui_1-7-24{
  flex:1;
}
.magritte-textarea-layout-fill-both___ERS-q_1-7-24{
  width:100%;
  height:100%;
}
.magritte-textarea-layout-fill-vertical___HmNtp_1-7-24{
  height:100%;
}
.magritte-textarea-layout-fill-horizontal___imBH2_1-7-24{
  width:100%;
}
.magritte-textarea-without-label___WhBIw_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  margin-top:-18px;
  min-height:calc(104px - var(--magritte-typography-label-4-regular-line-height-v16-0-6));
}
.magritte-textarea-without-label___WhBIw_1-7-24.magritte-textarea-limited___cU1Rg_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  min-height:calc(90px - var(--magritte-typography-label-4-regular-line-height-v16-0-6));
}
.magritte-textarea-wrapper___yD7G6_1-7-24{
  display:inline-flex;
  width:100%;
}
.magritte-textarea-layout-hug___tdCMY_1-7-24{
  width:100%;
}
.magritte-textarea-layout-hug___tdCMY_1-7-24 .magritte-textarea-wrapper___yD7G6_1-7-24{
  display:grid;
}
.magritte-textarea-layout-hug___tdCMY_1-7-24 .magritte-textarea-wrapper___yD7G6_1-7-24::after,
.magritte-textarea-layout-hug___tdCMY_1-7-24 .magritte-textarea-wrapper___yD7G6_1-7-24 .magritte-textarea-native___w-czf_1-7-24{
  grid-area:1 / 1 / 2 / 2;
  overflow:hidden;
  width:auto;
}
.magritte-textarea-layout-hug___tdCMY_1-7-24 .magritte-textarea-wrapper___yD7G6_1-7-24::after{
  box-sizing:border-box;
  border:0;
  width:100%;
  padding:0 16px;
  padding-right:14px;
  color:var(--magritte-color-component-input-text-content-v16-0-6);
  caret-color:var(--magritte-color-text-primary-v16-0-6);
  font-family:var(--magritte-typography-label-2-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-2-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-2-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-2-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-2-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-2-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-2-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-2-regular-text-decoration-v16-0-6);
  content:attr(data-replicated-value) ' ';
  white-space:pre-wrap;
  visibility:hidden;
}
.magritte-textarea-position-container___cEpbv_1-7-24{
  display:inline-flex;
  overflow:hidden;
  position:relative;
  width:100%;
  border-radius:12px;
  background-color:var(--magritte-color-component-input-background-field-v16-0-6);
  padding:16px 0;
  padding-right:2px;
  padding-top:calc(var(--magritte-typography-label-4-regular-line-height-v16-0-6) + 18px);
  cursor:text;
  min-height:120px;
  box-sizing:border-box;
  box-shadow:inset 0 0 0 1px var(--magritte-color-component-input-stroke-field-v16-0-6);
  transform:translateZ(0);
}
.magritte-textarea-position-container___cEpbv_1-7-24::-webkit-resizer{
  display:none;
}
.magritte-textarea-animation-timeout___zudbr_1-7-24,
.magritte-textarea-position-container___cEpbv_1-7-24{
  transition-property:transform, color, font-size, letter-spacing;
  transition-duration:var(--animation-100-duration);
  transition-timing-function:var(--magritte-semantic-animation-ease-in-out-100-timing-function-v16-0-6);
  --animation-duration:var(--magritte-semantic-animation-ease-in-out-100-duration-v16-0-6);
}
.magritte-textarea-rigging-container___-1S6i_1-7-24{
  position:absolute;
  pointer-events:none;
  left:16px;
  right:16px;
  top:0;
}
.magritte-textarea-label___sgTIH_1-7-24{
  font-family:var(--magritte-typography-label-2-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-2-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-2-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-2-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-2-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-2-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-2-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-2-regular-text-decoration-v16-0-6);
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  user-select:none;
  padding-top:var(--magritte-typography-label-4-regular-line-height-v16-0-6);
  color:var(--magritte-color-component-input-text-placeholder-v16-0-6);
  transition-property:transform, color, font-size, letter-spacing;
  transition-duration:var(--animation-100-duration);
  transition-timing-function:var(--magritte-semantic-animation-ease-in-out-100-timing-function-v16-0-6);
}
.magritte-textarea-limit___IjPJy_1-7-24{
  position:absolute;
  bottom:10px;
  right:28px;
  left:16px;
  text-align:right;
  background-color:var(--magritte-color-component-input-background-field-v16-0-6);
  pointer-events:none;
  --magritte-ui-text-color-override:var(--magritte-color-component-input-text-limit-v16-0-6);
}
.magritte-textarea-grip___iL7lq_1-7-24{
  position:absolute;
  pointer-events:none;
  display:inline-flex;
  bottom:4px;
  right:4px;
  border-bottom-right-radius:12px;
  --magritte-ui-icon-color-override:var(--magritte-color-component-input-icon-grip-v16-0-6);
}
.magritte-textarea-grip-icon___YK-9w_1-7-24{
  display:inline-flex;
  z-index:1;
}
.magritte-textarea-label-elevated___0lxOI_1-7-24{
  font-family:var(--magritte-typography-label-4-regular-font-family-v16-0-6);
  font-weight:var(--magritte-typography-label-4-regular-font-weight-v16-0-6);
  line-height:var(--magritte-typography-label-4-regular-line-height-v16-0-6);
  font-size:var(--magritte-typography-label-4-regular-font-size-v16-0-6);
  letter-spacing:var(--magritte-typography-label-4-regular-letter-spacing-v16-0-6);
  text-indent:var(--magritte-typography-label-4-regular-text-indent-v16-0-6);
  text-transform:var(--magritte-typography-label-4-regular-text-transform-v16-0-6);
  text-decoration:var(--magritte-typography-label-4-regular-text-decoration-v16-0-6);
  color:var(--magritte-color-component-input-text-label-v16-0-6);
  transform:translateY(calc((var(--magritte-typography-label-4-regular-line-height-v16-0-6) / 2) - ((var(--magritte-typography-label-4-regular-line-height-v16-0-6) + var(--magritte-typography-label-2-regular-line-height-v16-0-6)) / 2) + 8px));
}
@media (prefers-reduced-motion: no-preference){
  .magritte-textarea-limit-enter___CygGz_1-7-24{
    opacity:0;
  }
  .magritte-textarea-limit-exit___RMp-R_1-7-24,
  .magritte-textarea-limit-enter-active___8vN-t_1-7-24{
    opacity:1;
  }
  .magritte-textarea-limit-enter-active___8vN-t_1-7-24{
    transition-property:opacity;
    transition-duration:var(--magritte-semantic-animation-ease-in-out-300-duration-v16-0-6);
    transition-timing-function:var(--magritte-semantic-animation-ease-in-out-200-timing-function-v16-0-6);
    --animation-duration:var(--magritte-semantic-animation-ease-in-out-300-duration-v16-0-6);
  }
  .magritte-textarea-limit-exit-active___a5kBr_1-7-24{
    opacity:0;
    transition-property:opacity;
    transition-duration:var(--magritte-semantic-animation-ease-in-out-100-duration-v16-0-6);
    transition-timing-function:var(--magritte-semantic-animation-ease-in-out-100-timing-function-v16-0-6);
  }
}


/*# sourceMappingURL=86237.60afc947fde585a63ea9.css.map*/